*.csv
__pycache__/**
.idea/**
open_ai_calls.log
test*
openaiSelenium*
open_ai_calls.json
_*
data_folder/secrets.yaml
venv
env
.venv
generated_cv*
.vscode
Chrome Profile
*.log
emerge/*
chrome_profile
answers.json
data*
*virtual
