*.csv
__pycache__/**
.idea/**
open_ai_calls.log
test*
openaiSelenium*
open_ai_calls.json
_*
.venv
generated_cv*
.vscode
chrome_profile
answers.json
data*
data_folder/config.yaml
data_folder/plain_text_resume.yaml
data_folder/secrets.yaml

.DS_Store
virtual/
*.pyc
__pycache__/
