click==8.1.7
httpx==0.27.2
inputimeout==1.0.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
langchain==0.3.1
langchain-anthropic==0.2.4
langchain-huggingface==0.1.2
langchain-community==0.3.1
langchain-core==0.3.15
langchain-google-genai==2.0.4
langchain-ollama==0.2.0
langchain-openai==0.2.6
langchain-text-splitters==0.2.2
langsmith==0.1.93
Levenshtein==0.25.1
loguru==0.7.2
openai==1.37.1
pdfminer.six==20221105
pytest==8.3.3
pytest-mock
pytest-cov
python-dotenv==1.0.1
PyYAML==6.0.2
regex==2024.7.24
reportlab==4.2.2
selenium==4.26.1
webdriver-manager==4.0.2
flask==3.0.3
flask-bootstrap==3.3.7.1
marshmallow==3.23.1
